<div class="story container" ng-init="init()">
    <a id="top"></a>
    <div class="page-header">
        <span class="lead"><i class="fa fa-desktop"></i>&nbsp;客户端设置</span>
    </div>
    <form class="form-horizontal css-form" role="form" name="form">
    <div class="row">
        <div class="col-md-2">
            <div class="hidden-print hidden-xs hidden-sm" role="complementary" id="menu">
                <ul class="nav">
                    <li><a ng-click="gotoAnchor('ui')">界面</a></li>
                    <li><a ng-click="gotoAnchor('caution')">提醒</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10" role="main">
            <h1 id="ui" class="page-header">
                界面</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 id="caution" class="page-header">
                提醒</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <p class="pull-right">
        <a ng-click="gotoAnchor('top')">置顶</a></p>
    </form>
</div>
