<div class="story container" ng-init="init()">
    <div class="page-header">
        <span class="lead"><i class="fa fa-bookmark-o"></i>&nbsp;文件上传</span>
    </div>
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-primary fileinput-button"><i class="fa fa-plus"></i>&nbsp;选取文件
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <input id="fileupload2" type="file" name="files2[]" multiple>
    <button ng-click="upload()">上传</button>
    <br />
    <br />
    <!-- The global progress bar -->
    <div id="progress" class="progress" ng-show="events.isBusy">
        <div class="progress-bar progress-bar-success">
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="file in events.fileList"><span class="pull-right">
            {{file.fileSize}}&nbsp;{{file.fileSizeUnit}}</span><a href="{{file.url}}" target="_blank">{{file.Name}}</a></li>
    </ul>
</div>
